html,
body {
  background-color: #222222;
  width: 100%;
  height: 955px;
}
#mainContent {
  text-align: center;
  width: 70%;
  height: 100%;
  margin: auto;
  position: relative;
}
#slider {
  width: 12px;
  height: 50%;
  position: absolute;
  right: 10px;
  top: 5%;
}
#infoBox {
  width: 25%;
  height: 35%;
  color: #999999;
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  top: 10%;
  right: 10%;
  display: none;
}
#infoBox #dateBox {
  height: 20%;
  color: #c8c8c8;
}
#infoBox .red {
  stroke: #CC0000;
}
#infoBox .orange {
  stroke: #FF6600;
}
#infoBox .total {
  height: 45%;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #c8c8c8;
}
#infoBox .total .value {
  color: #999999;
}
#infoBox .total .chart {
  height: 91px;
  width: 189px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-color: #444444;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
}
#infoBox .total .chart line {
  stroke-width: 2px;
}
#infoBox .total .chart circle {
  fill: #ffffff;
  stroke-width: 2px;
}
#svg {
  display: inline;
  width: 100%;
  height: 100%;
}
#svg .redLine {
  stroke: #CC0000;
}
#svg .orangeLine {
  stroke: #FF6600;
}
#svg line {
  stroke-width: 10px;
  stroke-linecap: round;
}
#svg circle {
  fill: #ffffff;
  stroke-width: 5;
}
#svg text {
  fill: #ffffff;
}
.circle {
  width: 20px;
  height: 20px;
  margin-top: 100px;
  background-color: #00ff00;
  border: #00ff00 0px solid;
  -webkit-border-radius: 100px 100px 100px 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px 100px 100px 100px;
  -moz-background-clip: padding;
  border-radius: 100px 100px 100px 100px;
  background-clip: padding-box;
}
